$colors: (
  red: #e3432d,
  dark-red: #cb240d,
  light-gray: #f3f5f9,
  gray: #dddfe2,
  dark-gray: #9ea0a5,
  dirty: #5e5f63,
  dark: #66798a,
  darkest: #394a58,
  white: #ffffff,
  black: #0c0d0d,
  dark-blue: #22455b
);
