@keyframes slide-to-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-to-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes increase {
   from { left: -5%; width: 5%; }
   to { left: 130%; width: 100%; }
}

@keyframes decrease {
   from { left: -80%; width: 80%; }
   to { left: 110%; width: 10%; }
}

.slide {
  &-to {
    @each $direction in (left, right) {
      &-#{$direction} {
        animation-name: slide-to-#{$direction};
        animation-fill-mode: forwards;
        animation-duration: 0.6s;
      }
    }
  }
}

.fade-in {
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-x-enter-active {
  animation: slide-to-right 0.6s ease;
}

.slide-x-leave-active {
  animation: slide-to-left 0.6s ease;
}

.inc {
  animation: increase 2s infinite;
}

.dec {
  animation: decrease 2s 0.5s infinite;
}

.expand-enter-active,
.expand-leave-active {
  transition: height 0.2s ease-in-out;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0;
}
