.container {
  @include make-container;
}

.container-fluid {
  @include make-container;
  max-width: 100% !important;
}

.row {
  @include make-row;
}

.col {
  @include make-col(12);
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

  @each $breakpoint, $_ in $breakpoints {
    @for $i from 1 through $grid-columns {
      @if $breakpoint == xs {
        &-#{$i} {
          @include make-col($i);
        }

        &-auto {
          @include make-col(auto);
        }
      } @else {
        &-#{$breakpoint} {
          &-#{$i} {
            @include media-breakpoint-up($breakpoint) {
              @include make-col($i);
            }
          }

          &-auto {
            @include media-breakpoint-up($breakpoint) {
              @include make-col(auto);
            }
          }
        }
      }
    }
  }
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.align-content-start {
  align-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.align-items {
  @each $type in (start, center, end) {
    &-#{$type} {
      align-items: $type;
    }
  }
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.text {
  @each $direction in (left, center, right) {
    &-#{$direction} {
      text-align: $direction;
    }
  }
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutters > * {
  padding-left: 0;
  padding-right: 0;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}
